* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: beige;
}

form {
    width: 40%;
    margin: 30px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    padding: 8px;
    border: 2px dotted black;
}

.box {
    width: 60%;
    margin: 10px auto;
    border: 4px ridge green;
    padding: 15px;
}

input {
    margin-bottom: 10px;
}

input[type=radio] {
    margin-right: 5px;
}

form  ul {
    margin-left: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

.error {
    display: block;
    color: red;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 3px;
}

select {
    display: block;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}